<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "About Me" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h2 class="text-primary">Who Am I?</h2>
        <img src="https://mail.google.com/mail/u/0?ui=2&ik=307c2bfad8&attid=0.1&permmsgid=msg-f:1744991451258824779&th=1837747ac460284b&view=att&disp=safe" align="right" width="200" height="280">
        <p class="text-secondary">Hi! I'm Annika Liao, a sophomore at Del Norte High School. I enjoy music, movies, art, and fashion. </p>
        <h2 class="text-primary">Why APCSP?</h2>
        <p class="text-secondary">I took this class because of my interest in technology! Especially after Covid, I noticed how prominent technology is in all of our daily lives. Thanks to this, I started experimenting with what I could do with technology. So far, I've only really experimented with the creative side, such as motion graphics, animation, AR, and art. I thought that taking APCSP would be a great way to ease myself into the more practical, coding side of technology. I was really nervous about this class before the start of school, and the first few weeks were stressful, but I'm glad I pushed through. I feel like this class has opened a whole world of opportunities for me, and I've met a lot of amazing people along the way. </p>
    </div>
    {% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
