<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Stubby</strong></h1>
        <p class="text-secondary">Hi! I'm Annika Liao, a sophomore at Del Norte High School.</p>
    </div>
    <div style="text-align: left;"> <img src="https://mail.google.com/mail/u/0?ui=2&ik=307c2bfad8&attid=0.1&permmsgid=msg-a:r8222045218852504467&th=182d6ccc182e38fa&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ8pg4FOrRdP5SMywyIhM4l8xMDKxI1KMjuvkf6Qq35dH47gPBJ6lSd4nGFBcVmzDkdJryTruA_19mfH6QkiieCtA-ZbmVuLVMiwXfpbfu4Tl7T068iekS9kjww&disp=emb&realattid=182d6cc9558483dbc291" width="216" height="288.5">
    </div>
    {% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
